{
.appVersion = "3300";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = unicodeRanges;
value = (
59
);
},
{
name = fsType;
value = (
);
}
);
date = "2024-04-15 11:56:13 +0000";
familyName = "Neo Han Sans SC";
fontMaster = (
{
axesValues = (
100
);
customParameters = (
{
name = typoAscender;
value = 880;
},
{
name = typoDescender;
value = -120;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1160;
},
{
name = winDescent;
value = 288;
},
{
name = hheaAscender;
value = 1160;
},
{
name = hheaDescender;
value = -288;
},
{
name = strikeoutPosition;
value = 325;
},
{
name = strikeoutSize;
value = 50;
},
{
name = underlinePosition;
value = -150;
}
);
id = m01;
metricValues = (
{
pos = 880;
},
{
pos = 733;
},
{
pos = 543;
},
{
},
{
pos = -120;
},
{
},
{
pos = -250;
},
{
pos = 1100;
},
{
pos = -250;
},
{
pos = 1100;
}
);
name = ExtraLight;
stemValues = (
35,
28,
46
);
},
{
axesValues = (
900
);
customParameters = (
{
name = typoAscender;
value = 880;
},
{
name = typoDescender;
value = -120;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1160;
},
{
name = winDescent;
value = 288;
},
{
name = hheaAscender;
value = 1160;
},
{
name = hheaDescender;
value = -288;
},
{
name = strikeoutPosition;
value = 325;
},
{
name = strikeoutSize;
value = 50;
},
{
name = underlinePosition;
value = -150;
}
);
id = "5029AEDF-C899-4409-998A-C73D58F94579";
metricValues = (
{
pos = 880;
},
{
pos = 733;
},
{
pos = 543;
},
{
},
{
pos = -120;
},
{
},
{
pos = -250;
},
{
pos = 1100;
},
{
pos = -250;
},
{
pos = 1100;
}
);
name = Black;
stemValues = (
35,
28,
46
);
}
);
instances = (
{
axesValues = (
100
);
name = Thin;
weightClass = 100;
},
{
axesValues = (
200
);
name = ExtraLight;
weightClass = 200;
},
{
axesValues = (
300
);
name = Light;
weightClass = 300;
},
{
axesValues = (
400
);
name = Regular;
},
{
axesValues = (
500
);
name = Medium;
weightClass = 500;
},
{
axesValues = (
600
);
name = Semibold;
weightClass = 600;
},
{
axesValues = (
700
);
isBold = 1;
name = Bold;
weightClass = 700;
},
{
axesValues = (
800
);
name = ExtraBold;
weightClass = 800;
},
{
axesValues = (
900
);
name = Black;
weightClass = 900;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
},
{
name = "zone 1";
},
{
name = "zone 2";
},
{
name = "zone 3";
},
{
name = "zone 4";
}
);
properties = (
{
key = descriptions;
values = (
{
language = dflt;
value = "Better look of Source Han Sans";
},
{
language = ZHS;
value = "更好看的思源黑体";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = Aaron212;
}
);
},
{
key = designerURL;
value = "https://aaron212.top/";
},
{
key = familyNames;
values = (
{
language = ZHS;
value = "新源黑体";
}
);
},
{
key = vendorID;
value = AARN;
}
);
settings = {
fontType = variable;
previewRemoveOverlap = 0;
};
stems = (
{
horizontal = 1;
name = hStem0;
},
{
name = vStem0;
},
{
name = vStem1;
}
);
unitsPerEm = 1000;
versionMajor = 0;
versionMinor = 1;
}
